{% extends 'layouts/base.html' %}
{% block title%}Eliminar Empresa {{ object.business_name }} {% endblock %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Eliminar Empresa {{ object.business_name }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{% url 'Clients:business.index' %}" class="btn btn-sm btn-outline-secondary">
                <span class="fa fa-list-alt"></span>
                Lista
            </a>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-4">
                <button type="submit" class="btn btn-block btn-danger">
                    <i class="fa fa-trash-alt"></i>
                    Eliminar
                </button>
            </div>
            <div class="col-12 col-lg-4">
                <a class="btn btn-block btn-secondary" href="{% url 'Business:business.index' %}">
                    <i class="fas fa-ban"></i>
                    Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}