{% extends 'layouts/base.html' %}
{% block title %}Registrar Personal{% endblock %}
{% block body %}
<h2>Registrar Personal</h2>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-lg-4"></div>
    <div class="col-12 col-lg-4">
        <button class="btn btn-block btn-success" type="submit">
            <i class="far fa-share-square"></i>
            Registrar
        </button>
    </div>
    <div class="col-12 col-lg-4"></div>
    </div>
</form>
{% endblock %}