{% extends 'layouts/baseAuth.html' %}
{% block title%}Recupera tu contraseña{% endblock %}
{% block container %}
    <h1>Recuperar tu Contraseña</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.email }}
        <div class="row">
            <div class="col-12 col-lg-4"></div>
            <div class="col-12 col-lg-4">
                <button type="submit" class="btn btn-block btn-info">
                    <i class="far fa-paper-plane"></i>
                    Enviar
                </button>
            </div>
            <div class="col-12 col-lg-4"></div>
        </div>
    </form>
{% endblock %}